div{
    border: 1px;
    margin: 10px;
    color: white;
}

span{
    width: 6rem;
    height: 2.5rem;
    font-size: 2rem;
    border-radius: 5px;
    margin: 0 35px;
}


.button1{
    width: 4rem;
    height: 2.5rem;
    font-size: 2rem;
    border-radius: 5px;
    transition: 0.3s all ease;
    background-color: white;
    border-color: red;
    cursor: pointer;

}
.button1:hover{
    background-color:red;
    border-color: white;
    transition: 0.3s all ease;
    color: white;
}

.button2{
    width: 4rem;
    height: 2.5rem;
    font-size: 2rem;
    border-radius: 5px;
    background-color: white;
    border-color:blue;
    transition: 0.3s all ease;
    cursor: pointer;

}
.button2:hover{
    background-color: blue;
    border-color: white;
    transition: 0.3s all ease;
    color: white;
}

.buttonCompra{
    width: 100%;
    height: 2.5rem;
    font-size: 1rem;
    border-radius: 5px;
    background-color: white;
    border-color: green;
    cursor: pointer;

}
.buttonCompra:hover{
    background-color: green;
    border-color: white;
    transition: 0.3s all ease;
    color: white;
}

img{
    width: 500px;
    height: 500px;
}