.cartEmpty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 3rem 0;
}
.cartEmpty h1{
    font-size: 2rem;
}
.cartEmpty a{
    margin: 2rem 0;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}
.cartEmpty img{
    width: 250px;
}

.sectionCart{
    display: flex;
    align-items: center;
}

.sectionCart > article{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 15px;
    padding: 0 15px;
}

.sectionCart div button{
    margin: 0 15px;
}